# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Dependency files
*.egg-info/
dist/
build/

# Log files
*.log

# Unit test cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Local configuration
*.local

